<h1> <%=link_to event.title, event %> </h1>
<ul class="details">
  <li><span class="question">Who? </span><%= event.host.name %></li>
  <li><span class="question">What? </span> <%= event.description %></li>
  <li><span class="question">When? </span> <%= event.date %></li>
  <li><span class="question">Where? </span> <%= event.location %></li>
</ul>

