<div class="event-container">
  <div class="top">
    <%=link_to event.title, event %>
    <div class="circle-mini"></div>
  </div>  
  <ul class="details">
    <li><span class="question">Who? </span><%= event.host.name %></li>
    <li><span class="question">What? </span> <%= event.description %></li>
    <li><span class="question">When? </span> <%= event.date %></li>
    <li><span class="question">Where? </span> <%= event.location %></li>
  </ul>
  <% if local_assigns[:attendance] %>
    <%= render partial: 'attendance_list', locals: { event: event }%>
  <% end %>
</div>

